.vs/
RapidPay.PaymentReminders.Api/obj/project.assets.json
RapidPay.PaymentReminders.Api/obj/RapidPay.PaymentReminders.Api.csproj.nuget.g.targets
RapidPay.PaymentReminders.Api/obj/RapidPay.PaymentReminders.Api.csproj.nuget.g.props
RapidPay.PaymentReminders.Api/obj/RapidPay.PaymentReminders.Api.csproj.nuget.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.csprojAssemblyReference.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.csproj.CoreCompileInputs.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.assets.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.RazorAssemblyInfo.cs
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.RazorAssemblyInfo.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.AssemblyInfoInputs.cache
RapidPay.PaymentReminders.Api/obj/Debug/netcoreapp2.2/RapidPay.PaymentReminders.Api.AssemblyInfo.cs
RapidPay.PaymentReminders.Data.Contracts/obj/
RapidPay.PaymentReminders.Data/obj/
RapidPay.PaymentReminders.Models/obj/
RapidPay.PaymentReminders.Platform.Contracts/obj/
RapidPay.PaymentReminders.Platform/obj/
RapidPay.PaymentReminders.Services.Contracts/obj/
RapidPay.PaymentReminders.Services/obj/
RapidPay.PaymentReminders.Api.sln.DotSettings.user
obj/
RapidPay.PaymentReminders.Api/bin/
RapidPay.PaymentReminders.Data.Contracts/bin/
RapidPay.PaymentReminders.Data/bin/
RapidPay.PaymentReminders.Models/bin/
RapidPay.PaymentReminders.Platform.Contracts/bin/
RapidPay.PaymentReminders.Platform/bin/
RapidPay.PaymentReminders.Services.Contracts/bin/
RapidPay.PaymentReminders.Services/bin/
RapidPay.PaymentReminders.Api/RapidPay.PaymentReminders.Api.csproj.user
bin/
*.json
*.json
*.props
BattleShip.Api/obj/Debug/netcoreapp3.1/BattleShip.Api.csproj.FileListAbsolute.txt
